<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <form method="post" action="/login" class="flex flex-col items-center justify-center h-screen gap-4 bg-zinc-900 text-white">
        <h3 class="text-3xl mb-5">Login</h3>
        <input class="px-4 py-2 rounded-lg border-white border-2" type="email" name="email" placeholder="Email">
        <input class="px-4 py-2 rounded-lg border-white border-2" type="password" name="password" placeholder="Password">
        <input class="bg-blue-500 px-8 py-2 rounded-lg" type="submit" name="submit" value="Login">
    </form>
</body>
</html>